<%- include('header') -%>



<form accept-charset="UTF-8" action="/addone" method="post">


    <div class="w3-row w3-padding w3-border">

        <!-- Blog entries -->
        <div class="w3-row w3-padding w3-border">
<h4>Name The Comp and list the prize (if money type €) </h4>
<p>This can be edited after</p>
    <p><input name="clueName" class="w3-input w3-border" type="text" placeholder="Enter Competition Name" style="width:100%" required></p>
    <p><input name="cluePrize" class="w3-input w3-border" type="text" placeholder="Enter Prize" style="width:100%" required></p>
<hr>

    <div class="w3-container w3-padding w3-black">
      <h4>Questions And Answers</h4>
      <p>Question can be edited after but answers can not.</p>
    </div>

<h4>Clue 1 - The Question goes first then the Answer </h4>

    <p><input name="question1" class="w3-input w3-border" type="text" placeholder="Enter Question 1" style="width:100%" required></p>
    <p><input name="clue1" class="w3-input w3-border" type="text" placeholder="Enter Answer 1" style="width:100%" required></p>
   
<hr>
<h4>Clue 2 - The Question goes first then the Answer </h4>
<p><input name="question2" class="w3-input w3-border" type="text" placeholder="Enter Question 2" style="width:100%" required></p>
    <p><input name="clue2" class="w3-input w3-border" type="text" placeholder="Enter Answer 2" style="width:100%" required></p>
    
    <hr>
    <h4>Clue 3 - The Question goes first then the Answer </h4>
    
    <p><input name="question3" class="w3-input w3-border" type="text" placeholder="Enter Question 3" style="width:100%" required></p>
    <p><input name="clue3" class="w3-input w3-border" type="text" placeholder="Enter Answer 3" style="width:100%" required></p>
    <hr>
    <h4>Clue 4 - The Question goes first then the Answer </h4>
    <p><input name="question4" class="w3-input w3-border" type="text" placeholder="Enter Question 4" style="width:100%" required></p>
    <p><input name="clue4" class="w3-input w3-border" type="text" placeholder="Enter Answer 4" style="width:100%" required></p>
    
    <hr>

    <h4>Clue 5 - The Question goes first then the Answer </h4>
    <p><input name="question5" class="w3-input w3-border" type="text" placeholder="Enter Question 5" style="width:100%" required></p>
    <p><input name="clue5" class="w3-input w3-border" type="text" placeholder="Enter Answer 5" style="width:100%" required></p>
    
<hr>

    
   
<div class="w3-container w3-padding w3-black">
    <h4>Description</h4>
    <p>This can be edited after.</p>
  </div>
   
    
<hr>
<h4>Describe it now</h4>
<p>This can be edited after</p>
    <p><input name="description" class="w3-input w3-border" type="text" placeholder="Enter a description" style="width:100%"  required></p>

    <p><button class="w3-button w3-block w3-red">Check My Clue</button></p>

</div>



</div>


                </form>


<%- include('footer') -%>