<%- include('header') -%>



<form accept-charset="UTF-8" action="/addone" method="post">


    <div class="w3-row w3-padding w3-border">

        <!-- Blog entries -->
        <div class="w3-col l8 s12">

    <p><input name="clueName" class="w3-input w3-border" type="text" placeholder="Enter clue name" style="width:100%"></p>
    <p><input name="cluePrize" class="w3-input w3-border" type="text" placeholder="Enter Prize" style="width:100%"></p>
<hr>
    <p><input name="clue1" class="w3-input w3-border" type="text" placeholder="Enter clue1" style="width:100%"></p>
    <p><input name="question1" class="w3-input w3-border" type="text" placeholder="Enter question 1" style="width:100%"></p>
<hr>

    <p><input name="clue2" class="w3-input w3-border" type="text" placeholder="Enter clue2" style="width:100%"></p>
    <p><input name="question2" class="w3-input w3-border" type="text" placeholder="Enter question 2" style="width:100%"></p>
    <hr>

    <p><input name="clue3" class="w3-input w3-border" type="text" placeholder="Enter clue3" style="width:100%"></p>
    <p><input name="question3" class="w3-input w3-border" type="text" placeholder="Enter question 3" style="width:100%"></p>
    <hr>

    <p><input name="clue4" class="w3-input w3-border" type="text" placeholder="Enter clue4" style="width:100%"></p>
    <p><input name="question4" class="w3-input w3-border" type="text" placeholder="Enter question 4" style="width:100%"></p>
    <hr>


    <p><input name="clue5" class="w3-input w3-border" type="text" placeholder="Enter clue5" style="width:100%"></p>
    <p><input name="question5" class="w3-input w3-border" type="text" placeholder="Enter question 5" style="width:100%"></p>
<hr>

    
   
 
   
    
<hr>
    <p><input name="description" class="w3-input w3-border" type="text" placeholder="Enter a description" style="width:100%"></p>

    <p><button class="w3-button w3-block w3-red">Check My Clue</button></p>

</div>



</div>


                </form>


<%- include('footer') -%>