
<%- include('header') -%>
<p> The Test Form</p>

<form accept-charset="UTF-8" action="/check" method="post">
                  
                  
    <label for="clue1">Name</label>
    <input name="firstClue" type="text" placeholder="Enter clue 1" />
    <input name="quess" type="text" placeholder="Enter clue 1" />
  


<button class="button">Check My Clue</button>
</div>
</form>

<%- include('footer') -%>
  