
<%- include('header') -%>
<p>On this page there will be things like 
    winners
    current comp
    prizes
    status of current comp and leaders
    <br>
    <br>
    <br>
   
</p>

<%- include('footer') -%>
  