
<%- include('header') -%>



<div class="w3-container w3-white w3-margin w3-padding-large">
    <div class="w3-center">

      
      <div class="w3-col 6">
        <h4>There Was A Problem</h4>
        <img src="../../oops.jpg" alt="Girl Hat" style="width:50%" class="w3-padding-16">
        <br>
        
    
        <p>Something went wrong. Go back and try again. If the problem continues please <a href="/information/contact">Contact US</a> and we will gladly help.</p>
      
      
      </div>
      
      
      
    </div>
    

      <!-- Image header -->


   
  </div>
<hr>


<%- include('footer') -%>
  