
<%- include('header') -%>
<p>
This is the SQL Page   


 
</p>



<% results.forEach(function(contact) { %>
                       
                      
    
    <h6 class="itemp">Comment: <%= contact.clue1 %></h6>
    



<% }); %>


<%- include('footer') -%>
  