
<%- include('header') -%>



<div class="w3-container w3-white w3-margin w3-padding-large">
    <div class="w3-center">

      
      <div class="w3-col 6">
        <h2>Thank you!</h2>
        <p>We appreciate you subscribing so we can keep in touch.
          
        </p>
      <P>If you wish to unsubscribe at any time you can do so by clicking the unsubscribe link at the bottom of the site</P>
      
      </div>
      
      
      
    </div>
    

      <!-- Image header -->


   
  </div>
<hr>


<%- include('footer') -%>
  