
<%- include('header') -%>



<div class="w3-container w3-white w3-margin w3-padding-large">
    <div class="w3-center">

      
      <div class="w3-col 6">
        <h2>Thank you!</h2>
        <p>We appreciate you getting in touch and we will respond o you as soon as possible.
          
        </p>
      
      
      </div>
      
      
      
    </div>
    

      <!-- Image header -->


   
  </div>
<hr>


<%- include('footer') -%>
  