
<%- include('header') -%>



<div class="w3-container w3-white w3-margin w3-padding-large">
    <div class="w3-center">

      
      <div class="w3-col 6">
        <h2>OOOPS!</h2>
        <p>It looks like you got the answer to our security question wrong. Go <a href="/information/contact" > back </a>and try again the question is:
            <br>
            What is he capital of Ireland?
            <br>
            <br>
            Answers should be only one word...
          <br>
          <a href="/information/contact" class="w3-button w3-black"> Back </a>
        </p>
      
      
      </div>
      
      
      
    </div>
    

      <!-- Image header -->


   
  </div>
<hr>


<%- include('footer') -%>
  