
<%- include('header') -%>


<div class="w3-white w3-margin w3-center">
    <div class="w3-container w3-padding w3-center">
      <h4>You didnt guess right this time but you can keep going</h4>
    </div>
<hr>
    <div class="w3-container w3-padding  w3-center">
        <h4>Remember all guesses are case sensitive with the first letter a capital and all other letters lower case</h4>
      </div>
    <p><a href="/activecompetitions"><button class="w3-button w3-green" ><b>Try Again  </b> </button></a>
    </p>
<hr>
</div>

<%- include('footer') -%>
  